
[submodule "NLP"]
	path = NLP
	url = https://github.com/yoosufmuneer/nlp.git
[submodule "UI"]
	path = UI
	url = https://github.com/MerianLesster/PriceFinderUI.git
[submodule "BASE"]
	path = BASE
	url = https://github.com/azharanees/pricefinderBase.git
[submodule "pricefinderBase"]
	path = pricefinderBase
	url = https://github.com/azharanees/pricefinderBase.git
